<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dashboard</title>
</head>

<body>
    <div class="container">
        <a href="/">Movie Homepage</a>
        <h1>All Orders</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Movie</th>
                    <th scope="col">Movie Date</th>
                    <th scope="col">Movie Time</th>
                    <th scope="col">Ticket Quantity</th>
                    <th scope="col">Total Amount of Order</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                {% for order in all_orders %}
                <tr>
                    <th scope="row">{{order.movie_title}}</th>
                    <td>{{order.movie_date}}</td>
                    <td>{{order.movie_time}}</td>
                    <td>{{order.num_tix}}</td>
                    <td>{{order.order_total}}</td>
                    <td>{{order.first_name}}</td>
                    <td>{{order.last_name}}</td>
                    <td>{{order.email_address}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <h2>Movie Stats</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Movie</th>
                    <th scope="col">Total Tickets</th>
                    <th scope="col">Total Sales</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Ad Astra</th>
                    <td>{{total_tix_ad_astra}}</td>
                    <td>{{total_sales_ad_astra}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <h2>All Stats</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Total Revenue</th>
                    <th scope="col">Total Tickets</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{total_revenue}}</th>
                    <td>{{total_tickets}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>